.widget-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.item-img-wrap {
  margin-right: 10px;
}
.item-img {
  width: 25px;
  height: 25px;
}
.item-label {
  font-size: 1;
  font-weight: 400;
  margin: 0 8px;
}
.add-cart-wrap {
  padding: 20px;
  border-radius: 8px;
  background-color: #d8d8eb;
}
.price {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.add-cart-btn {
  width: 100%;
}
