.search-wrap {
  width: 100%;
  border-radius: 20px;
  border: solid 1.5px #f37e20;
  background-color: #fff;
  outline: 0;
  color: #f5821f;
  position: relative;
  margin-right: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-left: 14px;
  position: relative;
}
.input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comp-info-wrap {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 999;
}
.comp-info-inner {
  max-height: 348px;
  min-height: 100%;
  padding: 12px;
  border-radius: 12px;
  border: solid 1.5px #f37e20;
  overflow: hidden;
  background-color: var(--primary-bg-color);
}
.comp-info-wrap::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  right: 75px;
  top: -4px;
  background-image: url("https://www.icicibank.com/etc.clientlibs/icicibank/clientlibs/clientlib-base-v2/resources/images/dropdown-level1-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.comp-details-list:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.comp-details-list:hover {
  background-color: #e9e9e9;
  border-radius: 6px;
}
.comp-details-list a {
  padding: 8px 10px;
  font-size: var(--fs6);
  color: var(--primary-color);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.comp-search-input {
  border: none;
  outline: none;
  width: 85%;
  height: 36px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.search-btn {
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
}
.mic-whole {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  padding-right: 15px;
}
.search-whole {
  width: 30px;
  height: 30px;
  background-color: #f37e20;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-whole::after {
  content: "";
  width: 1px;
  height: 68%;
  right: -9px;
  position: absolute;
  border-right: 1px solid #f38227;
}
