.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: var(--primary-bg-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  max-width: 350px;
  width: 100%;
  margin: 40px auto;
}

.info {
  margin-bottom: 10px;
}

.title {
  color: var(--primary-color);
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.description {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 15px;
}

.form .inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form .inputs input {
  height: 50px;
  width: 50px;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  color: var(--primary-color);
  border-radius: 0.3em;
  border: 1px solid var(--primary-color);
  background-color: rgb(255 255 255 / 0.05);
}

.form .inputs input:focus {
  border: 1px solid rgb(99 102 241);
}

.resend {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.resend-action {
  text-decoration: none;
  cursor: pointer;
  margin-left: 6px;
  color: var(--primary-color);
  font-weight: 600;
}

.resend-action:hover {
  text-decoration: underline #2b8af7;
}

.validate {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--secondary-btn-bg-color);
  padding: 10px 20px;
  margin: 20px 0 0 6px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s ease;
}

.validate:hover {
  background-color: var(--secondary-btn-hover-color);
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.close:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
