/* header-level-2 */
.logo {
  width: 104px;
}
.logo-img {
  width: 100%;
}
.logo-sec-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comp-search {
  display: flex;
  align-items: center;
}
.loginBtn {
  border: 0;
  background-color: #f37e20;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 9px 35px;
  line-height: 0.9;
}
.mycart {
  margin-left: 15px;
  font-size: 1.9rem;
  position: relative;
  color: #f38227;
}
.mycart-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: 4px;
  width: 18px;
  height: 18px;
  font-weight: 600;
  border-radius: 50%;
  color: var(--primary-color);
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 140px;
  }
}
