/* header-level-2 */
.logo {
  width: 104px;
}
.logo-img {
  width: 100%;
}
.logo-sec-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comp-search {
  display: flex;
  align-items: center;
}
.loginBtn {
  border: 0;
  background-color: #f37e20;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 9px 30px;
  line-height: 0.9;
  position: relative;
}
.mycart {
  margin-left: 15px;
  font-size: 1.9rem;
  position: relative;
  color: #f38227;
  cursor: pointer;
}
.mycart-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: 4px;
  width: 18px;
  height: 18px;
  font-weight: 600;
  border-radius: 50%;
  color: var(--primary-color);
  text-align: center;
  font-size: 0.7rem;
}
.arrow-down {
  margin-left: 8px;
}
.login-inner {
  display: none;
  position: absolute;
  top: calc(100% + 0px);
  left: -101%;
  width: 275px;
  padding: 10px 10px;
}
.login-inner::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  right: 38px;
  top: 6px;
  background-image: url("https://www.icicibank.com/etc.clientlibs/icicibank/clientlibs/clientlib-base-v2/resources/images/dropdown-level1-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 999;
}
.login-menu {
  max-height: 348px;
  min-height: 100%;
  padding: 20px 12px 12px;
  border-radius: 12px;
  border: solid 1.5px #f37e20;
  overflow: hidden;
  background-color: var(--primary-bg-color);
  z-index: 9;
  position: relative;
}
.login-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1px 16px;
  border-bottom: 1px solid #dedede;
}
.login-title {
  font-weight: 400;
  color: var(--primary-color);
}
.login-sign-up {
  font-weight: 500;
  color: var(--link);
}
.login-item {
  text-align: left;
}
.login-item-icon {
  margin-right: 10px;
  font-size: 1.3rem;
}
.login-item:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.login-item-link {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 10px;
}
.loginBtn:hover .login-inner {
  display: block;
}
.loginBtn:hover .arrow-down {
  transform: rotate(180deg);
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 140px;
  }
}
