/* header-level-3 */
.mega-menu-wrap {
  background-color: #fff0e5;
}
.mega-items {
  display: flex;
  align-items: center;
}
.menu-nav-tab {
  font-size: 1rem;
  line-height: 1.2;
  padding: 12px 30px 12px 0;
  color: #333;
  position: relative;
  cursor: pointer;
}
.menu-item-nav{
  position: relative;
}
.menu-item-nav:hover .menu-nav-tab{
  color: var(--hover-color);
}
.menu-item-nav:not(:last-child) .menu-nav-tab::after {
  content: "";
  border-right: 1px solid rgba(51, 51, 51, 0.3);
  position: absolute;
  height: 18px;
  right: 0;
}
.menu-item-nav:not(:first-child) .menu-nav-tab {
  padding-left: 20px;
  padding-right: 35px;
}
.arrow-down{
  margin-left: 3px;
  font-size: 1.2rem;
}
.menu-item-nav:hover .arrow-down{
  transform: rotate(180deg);
  color: var(--arrow-icon);
}