.submenu-wrap{
  position: absolute;
  left: 85%;
  top: calc(100% + 0px);
  width: 170%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  z-index: 99;
  border-radius: 12px;
}
.submenu {
  padding: 15px;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 0  12px 12px;
  border: solid 1px #f37e20;
  border-top: none;
  background-color: var(--primary-bg-color);
}
.submenu-item-link{
    font-size: 1rem;
    padding: 12px 10px;
    font-weight: 400;
    cursor: pointer;
    color: var(--primary-color);
} 
.submenu-item:not(:last-child){
    border-bottom:1px solid #dedede;
}