.banner {
  padding: 10px 0 30px;
}
.company-info-wrap {
  display: flex;
  gap: 20px;
}
.banner-left {
  width: 70%;
  padding-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.update-btn {
  border-radius: 50px !important;
}
.banner-right {
  width: calc(100% - 70%);
  padding-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.banner-bg {
  width: 100%;
  height: 200px;
  background-color: #e1e7ed;
  background: url("https://source.unsplash.com/9wg5jCEPBsw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.company-dp {
  width: 120px;
  height: 120px;
  background-color: #868d9b;
  background: url("https://kreditaid.com/assets/companyLogo/U74899HR1995PTC088423.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin: -60px auto auto 30px;
}
.company-details {
  position: relative;
}
.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: bottom;
  padding: 0.3em 0.6em;
  opacity: 0;
  color: var(--secondary-color);
  pointer-events: none;
  transition: all 0.3s;
  background: rgb(38, 180, 236);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: rgb(38, 180, 236);
}
.tooltip-container {
  position: absolute;
  top: -55px;
  width: fit-content;
  right: 25%;
}
.tooltip-container:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) scale(1);
}
.tooltip-container:hover {
  transform: scale(1);
}

.personal-details {
  padding-left: 30px;
}
.company-name {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 12px 0 2px;
  line-height: 1.3;
  font-weight: 600;
}
.active {
  color: green;
}
.overview {
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow: hidden;
}
.title {
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  background-color: #f9f9fb;
}
.title::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
}
.overview-para {
  padding: 15px;
  font-size: 0.9rem;
  font-weight: 400;
}
.company-info {
  margin: 12px 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.company-info > div {
  padding: 0;
  border-radius: 12px;
}
.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 15px;
  background-color: #f9f9fb;
}
.info-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.info-header::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
}
.info-header p {
  font-weight: 400;
  font-size: 0.9rem;
}
.updated {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 6px;
}
.faq {
  margin: 10px 0;
}
