* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --fs1: 2rem;
  --fs2: 1.6rem;
  --fs3: 1.4rem;
  --fs4: 1.2rem;
  --fs5: 1rem;
  --fs6: 0.8rem;
  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --link: #1a3d73;
  --primary-color: #333;
  --secondary-color: #fff;
  --arrow-icon: #e71d2a;
  --hover-color: #e71d2a;
  --hover-bg-color: #fafafa;
  --primary-bg-color: #fff;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  overflow: hidden;
}
.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
span {
  display: inline-block;
}
dl,
ol,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
/* Scollbar-Custom-Css */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #43c431 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #43c431;
  border-radius: 18px;
  border: 5px solid #ffffff;
}
button {
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  color: var(--secondary-color);
}
